tr(id="titles")
    td
        div(class="d-flex justify-content-center")
            h2="Image"
    td
        div(class="d-flex justify-content-center")
            h2="Type"
    td
        div(class="d-flex justify-content-center")
            h2="Price"
each inst in instruments
    tr(class="this-is-a-table-row")
        td(id="container-fill-height")
            a(class="d-flex justify-content-center" href="#")
                if (inst.name == "Snare Drum")
                    img(class="img-fluid" src=`img/snareDrum.png` width="150px" height="150px" alt="img")
                else
                    img(class="img-fluid" src=`img/${inst.name}.png`  width="150px" height="150px" alt="img")
        td(id="container-fill-height")
            div(class="centerElement")
                h2=inst.type
            if inst.subtype
                hr(class="m-4")
                div(class="centerElement")
                    h2=inst.subtype
        td(id="container-fill-height")
            p(class="secret-invisible-id")=inst._id 
            div
                a(class="item-upper-right link-as-button-blue me-3 mt-2" href="#")="Details"
            div
                a(class="item-bottom-right link-as-button-red delete-button me-3 mb-2" href="#")="Delete"
            div
                h2=`$ ${inst.price}.00` 
