each inst in instruments
    tr
        td
            a(class="d-flex justify-content-center" href="#")
                if (inst.name == "Snare Drum")
                    img(class="img-fluid" src=`img/snareDrum.png` alt="img")
                else
                    img(class="img-fluid" src=`img/${inst.name}.png` alt="img")
        td(id="container-fill-height")
            div(class="centerElement")
                h2=inst.type
            if inst.subtype
                hr(class="m-4")
                div(class="centerElement")
                    h2=inst.subtype
        td(id="container-fill-height")
            div
                a(href="#" class="item-upper-right me-3 mt-2")="View"
            div
                h2=`$ ${inst.price}.00` 
