div(class="modal-header modal-header-comparison" id= "container-fill-height")
    h2(class="my-0")=`${instruments.winnerInstrument.name} vs ${instruments.loserInstrument.name}`
    span(class="close item-upper-right px-4 py-3")="×"
div(class = "modal-body modal-body-comparison")
    div(class = "row")

        div(class = "col-md-6")
            p(class="d-none modal-invisible-id")
                =instruments.winnerInstrument._id
            p(class="d-flex justify-content-center my-0")
                strong(class="me-2")="Winner"
            a(class="d-flex justify-content-center mb-2")
                img(class="img-fluid" src=`img/${instruments.winnerInstrument.name}.png` alt="img")
            p(class="d-flex justify-content-center my-0")
                strong(class="me-2")="Type:"
                =instruments.winnerInstrument.type
            if instruments.winnerInstrument.subtype
                p(class="d-flex justify-content-center my-0")
                    strong(class="me-2")="Subtype:"
                    =instruments.winnerInstrument.subtype
            else 
                p(class="d-flex justify-content-center my-0")
                    strong(class="me-2")="No Subtype"
            p(class="d-flex justify-content-center my-0")
                strong(class="me-2")="Price:"
                =instruments.winnerInstrument.price 
            p(class="d-flex justify-content-center my-0")
                strong(class="me-2")="Sonority:"
                =instruments.winnerInstrument.sonority
            if instruments.winnerInstrument.summary
                p(class="text-center overflow-hidden mt-0 mx-5")
                    =instruments.winnerInstrument.summary
            else
                p(class="text-center overflow-hidden mt-0 mb-3")
                    strong(class="me-2")="No Summary"
                        
        div(class= "col-md-6")
            p(class="d-none modal-invisible-id")
                =instruments.loserInstrument._id
            p(class="d-flex justify-content-center my-0")
                strong(class="me-2")="Loser"
            a(class="d-flex justify-content-center mb-2")
                img(class="img-fluid" src=`img/${instruments.loserInstrument.name}.png` alt="img")
            p(class="d-flex justify-content-center my-0")
                strong(class="me-2")="Type:"
                =instruments.loserInstrument.type
            if instruments.loserInstrument.subtype
                p(class="d-flex justify-content-center my-0")
                    strong(class="me-2")="Subtype:"
                    =instruments.loserInstrument.subtype
            else 
                p(class="d-flex justify-content-center my-0")
                    strong(class="me-2")="No Subtype"
            p(class="d-flex justify-content-center my-0")
                strong(class="me-2")="Price:"
                =instruments.loserInstrument.price 
            p(class="d-flex justify-content-center my-0")
                strong(class="me-2")="Sonority:"
                =instruments.loserInstrument.sonority
            if instruments.loserInstrument.summary
                p(class="text-center overflow-hidden mt-0 mx-5 mb-5")
                    =instruments.loserInstrument.summary
            else
                p(class="text-center overflow-hidden mt-0 mb-3 mb-5")
                    strong(class="me-2")="No Summary"