div(class="modal-header" id= "container-fill-height")
    h2(class="my-0")="UPDATE:"
    span(class="close item-upper-right px-4 py-3")="×"
div(class = "modal-body")
    p(class="d-none modal-invisible-id")
        =instrument._id
    section(class="row" id="my-form")
        div(class="form-group col-md-6 col-12")
            ="Instrument*:"
            select(class="form-control" id="selectName" name="name")
                option="Violin"
                option="Guitar"
                option="Piano"
                option="Flute"
                option="Clarinet"
                option="Saxophone"
                option="Horn"
                option="Trumpet"
                option="Tuba"
                option="Snare Drum"
                option="Conga"
                option="Battery"
        div(class="form-group col-md-6 col-12")
            ="Type*:"
            select(class="form-control" id="selectType" name="type")
                option=""
                option="Wind"
                option="String"
                option="Percussion"
        div(class="form-group col-md-6 col-12")
            ="Subtype:"
            select(class="form-control" id="selectSubtype" name="subtype")
                option=""
                option="Wood"
                option="Brass"
        div(class="form-group col-md-6 col-12")
            ="Sonority*:"
            input(type="range" class="custom-range pt-3 custom-range-danger" min="0" max="100" step="10" id="inputSonority" name="sonority" value=instrument.sonority)
        div(class="form-group col-md-6 col-12")
            ="Price*:"
            input(class="form-control" type="number" id="inputPrice" name="price" min="0" max="99999" placeholder="$1500" value=instrument.price)
        div(class="form-group col-md-6 col-12")
            ="Summary:"
            input(class="form-control" type="text" id="inputSummary" name="summary" maxLength="256" placeholder="Instrument's description" value=instrument.summary)
        div(id="resultMessage")
        div(class="d-flex justify-content-center") 
            div(class="d-flex justify-content-center")
                a(class="link-as-button-green accept-update-button m-2" href="#")="Update"