div(class="modal-header modal-header-update" id= "container-fill-height")
    h2(class="my-0")=`${instruments.oldInstrument.name} to ${instruments.newInstrument.name}`
    span(class="close item-upper-right px-4 py-3")="×"
div(class = "modal-body modal-body-update")
    div(class = "row")
        div(class = "col-md-6")
            p(class="d-none modal-invisible-id")
                =instruments.oldInstrument._id
            p(class="d-flex justify-content-center my-0")
                strong(class="me-2")="OLD INSTRUMENT:"
            a(class="d-flex justify-content-center mb-2")
                img(class="img-fluid" src=`img/${instruments.oldInstrument.name}.png` width="200px" height="200px" alt="img")
            p(class="d-flex justify-content-center my-0")
                strong(class="me-2")="Type:"
                =instruments.oldInstrument.type
            if instruments.oldInstrument.subtype
                p(class="d-flex justify-content-center my-0")
                    strong(class="me-2")="Subtype:"
                    =instruments.oldInstrument.subtype
            else 
                p(class="d-flex justify-content-center my-0")
                    strong(class="me-2")="No Subtype"
            p(class="d-flex justify-content-center my-0")
                strong(class="me-2")="Price:"
                =instruments.oldInstrument.price 
            p(class="d-flex justify-content-center my-0")
                strong(class="me-2")="Sonority:"
                =instruments.oldInstrument.sonority
            if instruments.oldInstrument.summary
                p(class="text-center overflow-hidden mt-0 mx-5 mb-5")
                    =instruments.oldInstrument.summary
            else
                p(class="text-center overflow-hidden mt-0 mb-3 mb-5")
                    strong(class="me-2")="No Summary"

        div(class = "col-md-6")
            p(class="d-none modal-invisible-id")
                =instruments.newInstrument._id
            p(class="d-flex justify-content-center my-0")
                strong(class="me-2")="NEW INSTRUMENT:"
            a(class="d-flex justify-content-center mb-2")
                img(class="img-fluid" src=`img/${instruments.newInstrument.name}.png` width="200px" height="200px" alt="img")
            p(class="d-flex justify-content-center my-0")
                strong(class="me-2")="Type:"
                =instruments.newInstrument.type
            if instruments.newInstrument.subtype
                p(class="d-flex justify-content-center my-0")
                    strong(class="me-2")="Subtype:"
                    =instruments.newInstrument.subtype
            else 
                p(class="d-flex justify-content-center my-0")
                    strong(class="me-2")="No Subtype"
            p(class="d-flex justify-content-center my-0")
                strong(class="me-2")="Price:"
                =instruments.newInstrument.price 
            p(class="d-flex justify-content-center my-0")
                strong(class="me-2")="Sonority:"
                =instruments.newInstrument.sonority
            if instruments.newInstrument.summary
                p(class="text-center overflow-hidden mt-0 mx-5")
                    =instruments.newInstrument.summary
            else
                p(class="text-center overflow-hidden mt-0 mb-3")
                    strong(class="me-2")="No Summary"




