div(class="modal-header modal-header-delete" id= "container-fill-height")
    h2(class="my-0")=instrument.name
    span(class="close item-upper-right px-4 py-3")="×"
div(class = "modal-body modal-body-delete")
    p(class="d-none modal-invisible-id")
        =instrument._id
    a(class="d-flex justify-content-center mb-2")
        img(class="img-fluid" src=`img/${instrument.name}.png` alt="img")
    p(class="d-flex justify-content-center my-0")
        strong(class="me-2")="Type:"
        =instrument.type
    if instrument.subtype
        p(class="d-flex justify-content-center my-0")
            strong(class="me-2")="Subtype:"
            =instrument.subtype
    p(class="d-flex justify-content-center my-0")
        strong(class="me-2")="Price:"
        =instrument.price 
    p(class="d-flex justify-content-center my-0")
        strong(class="me-2")="Sonority:"
        =instrument.sonority
    if instrument.summary
        p(class="text-center overflow-hidden mt-0 mx-5")
            strong(class="me-2")="Summary:"
            =instrument.summary
    else
        p(class="text-center overflow-hidden mt-0 mb-3")
            strong(class="me-2")="No Summary"