tr(id="titles")
    td
        div(class="d-flex justify-content-center")
            h2="Type"
    td
        div(class="d-flex justify-content-center")
            h2="Summary"
    td
        div(class="d-flex justify-content-center")
            if (data.filterDate == "date-old-to-new" || data.filterDate == false)
                h2(class="date-switch")="Date⏶"
            else
                h2(class="date-switch")="Date⏷"
each record in data.records
    tr(class="this-is-a-table-row")
        td(id="container-fill-height")
            div(class="centerElement")
                h2=record.type
        td(id="container-fill-height")
            p(class="secret-invisible-id")=record._id
            div
                p(class="px-2")=record.summary
        td(id="container-fill-height")
            div(class="centerElement")
                p=record.date
            