tr(id="titles")
    td
        div(class="d-flex justify-content-center")
            h2="Type"
    td
        div(class="d-flex justify-content-center")
            h2="Summary"
    td
        div(class="d-flex justify-content-center")
            h2="Date"
each record in data.records
    tr(class="this-is-a-table-row")
        td(id="container-fill-height")
            div(class="centerElement")
                h3=record.type
        td(id="container-fill-height")
            p(class="secret-invisible-id")=record._id
            div
                h5=record.summary
        td(id="container-fill-height")
            div(class="centerElement")
                h5=record.date
            